stRepartoRefacciones/stRepartoRefacciones/Connected Services/wsCoden/wsCoden.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetServerMM">
        <s:complexType />
      </s:element>
      <s:element name="GetServerMMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerMMResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCredentialsBD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_sDatabse" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCredentialsBDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCredentialsBDResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveFilial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_sFilial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sCveFilial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFilialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveFilialResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_sSucursal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sCveSucursal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_iIdFilial" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveSucursalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFacturaMae">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_sFactura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_iConsecutivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_iMovimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_dtFecFact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sTransaccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sCveSucursal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sCveFilial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFacturaMaeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveFacturaMaeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFacturaDet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_sFactura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sNombreArt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sCveArt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_iMovimientoDet" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_iIdFactMae" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFacturaDetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveFacturaDetResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerAgencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_sSucursal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerAgenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerAgenciaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServerMMSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerMM" />
  </wsdl:message>
  <wsdl:message name="GetServerMMSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerMMResponse" />
  </wsdl:message>
  <wsdl:message name="GetCredentialsBDSoapIn">
    <wsdl:part name="parameters" element="tns:GetCredentialsBD" />
  </wsdl:message>
  <wsdl:message name="GetCredentialsBDSoapOut">
    <wsdl:part name="parameters" element="tns:GetCredentialsBDResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFilialSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFilial" />
  </wsdl:message>
  <wsdl:message name="SaveFilialSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFilialResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSucursal" />
  </wsdl:message>
  <wsdl:message name="SaveSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFacturaMaeSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFacturaMae" />
  </wsdl:message>
  <wsdl:message name="SaveFacturaMaeSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFacturaMaeResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFacturaDetSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFacturaDet" />
  </wsdl:message>
  <wsdl:message name="SaveFacturaDetSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFacturaDetResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerAgenciaSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerAgencia" />
  </wsdl:message>
  <wsdl:message name="GetServerAgenciaSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerAgenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCodenSoap">
    <wsdl:operation name="GetServerMM">
      <wsdl:input message="tns:GetServerMMSoapIn" />
      <wsdl:output message="tns:GetServerMMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCredentialsBD">
      <wsdl:input message="tns:GetCredentialsBDSoapIn" />
      <wsdl:output message="tns:GetCredentialsBDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFilial">
      <wsdl:input message="tns:SaveFilialSoapIn" />
      <wsdl:output message="tns:SaveFilialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSucursal">
      <wsdl:input message="tns:SaveSucursalSoapIn" />
      <wsdl:output message="tns:SaveSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFacturaMae">
      <wsdl:input message="tns:SaveFacturaMaeSoapIn" />
      <wsdl:output message="tns:SaveFacturaMaeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFacturaDet">
      <wsdl:input message="tns:SaveFacturaDetSoapIn" />
      <wsdl:output message="tns:SaveFacturaDetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerAgencia">
      <wsdl:input message="tns:GetServerAgenciaSoapIn" />
      <wsdl:output message="tns:GetServerAgenciaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCodenSoap" type="tns:wsCodenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerMM">
      <soap:operation soapAction="http://tempuri.org/GetServerMM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredentialsBD">
      <soap:operation soapAction="http://tempuri.org/GetCredentialsBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFilial">
      <soap:operation soapAction="http://tempuri.org/SaveFilial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSucursal">
      <soap:operation soapAction="http://tempuri.org/SaveSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFacturaMae">
      <soap:operation soapAction="http://tempuri.org/SaveFacturaMae" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFacturaDet">
      <soap:operation soapAction="http://tempuri.org/SaveFacturaDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerAgencia">
      <soap:operation soapAction="http://tempuri.org/GetServerAgencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCodenSoap12" type="tns:wsCodenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerMM">
      <soap12:operation soapAction="http://tempuri.org/GetServerMM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredentialsBD">
      <soap12:operation soapAction="http://tempuri.org/GetCredentialsBD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFilial">
      <soap12:operation soapAction="http://tempuri.org/SaveFilial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSucursal">
      <soap12:operation soapAction="http://tempuri.org/SaveSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFacturaMae">
      <soap12:operation soapAction="http://tempuri.org/SaveFacturaMae" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFacturaDet">
      <soap12:operation soapAction="http://tempuri.org/SaveFacturaDet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerAgencia">
      <soap12:operation soapAction="http://tempuri.org/GetServerAgencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCoden">
    <wsdl:port name="wsCodenSoap" binding="tns:wsCodenSoap">
      <soap:address location="https://api.metricamovil.com/wsCoden/wsCoden.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCodenSoap12" binding="tns:wsCodenSoap12">
      <soap12:address location="https://api.metricamovil.com/wsCoden/wsCoden.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>